header {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.foto {
    width: 250px;
    height: auto;
    text-decoration: none;
    display: center;
    margin-right: 20px;
    align-items: center;
}


h1 {
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;

}
p {
    color: #05ecc6;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Georgia', serif;
}

body {
    background-color:black;
}
button {
    background-color: blueviolet;
    border: 2px solid darkblue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #05ecc6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}